[Unit]
Description=Makeator's distributed currency daemon
After=network.target

[Service]
User=makeator
Group=makeator

Type=forking
PIDFile=/var/lib/makeatord/makeatord.pid

ExecStart=/usr/bin/makeatord -daemon -pid=/var/lib/makeatord/makeatord.pid \
          -conf=/etc/makeator/makeator.conf -datadir=/var/lib/makeatord

ExecStop=-/usr/bin/makeator-cli -conf=/etc/makeator/makeator.conf \
         -datadir=/var/lib/makeatord stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
